.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #3257a0;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.episodes-container{display: flex;
                  text-align: start;
                  margin-left: 20px;
                  margin-right: 20px;
}
.character{color: rgb(27, 162, 79);}
h3{color: rgb(44, 25, 130);
margin-top: auto;}
h4{color: rgb(121, 38, 180);}
h3,h4 {text-align: center;}
.thumbnails {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.thumbnail {
  width: 50px; 
  height: 50px;
  cursor: pointer;
}

.active {
  border: 2px solid blue; 
}
.clock {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
}
.watch{
  position: absolute;
  width: 400px;
  height: 400px;
  display: flex;
  justify-content: center;
  text-align: center;
}

.watch_H, .watch_M, .watch_S {
  position: absolute;
  background-color: black;
  z-index: 1;
  left:755px;
  transform-origin: bottom center;
  text-orientation:upright;
}

.watch_H {
  width: 10px;
  height: 200px; 
  
}

.watch_M {
  width: 7px;
  height: 190px; 
  transform: rotate(90deg);
}

.watch_S {
  width: 5px;
  height: 170px; 
  transform: rotate(40deg);
  top: 26px;
 
  background-color: red;}
  .combain{
    margin-top: 420px;
  }
